# Target folder
target/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Log files
*.log
logs/

# IDE settings
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath
.apt_generated/
.springBeans
.sts4-cache/
bin/
out/

# OS specific files
Thumbs.db
.DS_Store
